
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:20px 0px;
   
    
}
.logo{
    width: 150px;
    height: 35px;
    margin-left: 55px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.navbar-menu li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(244, 206, 149);
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
}
.navbar button{
    background:transparent;
    font-size: 16px;
    color: rgb(28, 27, 26) ;
    border: 2px solid tomato;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
}
.navbar button:hover{
    background: rgb(69, 67, 67);
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}